/* 页面切换动画
------------------------------- */
/* logo 过渡动画
------------------------------- */
@keyframes logoAnimation {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



/* 登录页弹球动画
------------------------------- */

@keyframes animateBox
{
    0%, 100%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(90deg);
    }
}

@keyframes animateBall 
{
    0%,100%
    {
        transform: rotate(135deg);
    }
    50%
    {
        transform: rotate(-45deg);
    }
}