@import 'mixins/index.scss';
/* NavMenu 导航菜单
------------------------------- */

// hover颜色
.el-menu{
	--el-menu-hover-bg-color: var(--vl-menu-active-color);
	--el-menu-bg-color: var(--vl-menu-bg-color);
    --el-menu-text-color: var(--vl-menu-text-color);
}

.el-menu-item.is-active{
	background-color: var(--vl-menu-active-color) !important;
}
// 默认样式修改
.el-menu {
	border-right: none !important;
	width: 220px;

}
.el-menu-item {
	height: 56px !important;
	line-height: 56px !important;
}
// 修复点击左侧菜单折叠再展开时，宽度不跟随问题
.el-menu--collapse {
	width: 64px !important;
}

// 外部链接时
.el-menu-item a,
.el-menu-item a:hover,
.el-menu-item i,
.el-sub-menu__title i {
	color: inherit;
	text-decoration: none;
}

/* Table 表格 element plus 2.2.0 版本
------------------------------- */
.el-table {
	.el-button.is-text {
		padding: 0;
	}
}

/* Drawer 抽屉
------------------------------- */
.el-drawer {
	--el-drawer-padding-primary: unset !important;
	.el-drawer__header {
		padding: 0 15px !important;
		height: 70px;
		display: flex;
		align-items: center;
		margin-bottom: 0 !important;
		border-bottom: 1px solid var(--vl-border-color-light);
		color: var(--el-text-color-primary);
	}
	.el-drawer__body {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}

.el-dropdown{
	color: var(--el-color-black);
}


/*用于界面高度自适应（main.vue），区分 scrollbar__view，防止其它使用 scrollbar 的地方出现滚动条消失*/
.layout-container-view .el-scrollbar__view {
	height: 100%;
}