/* NavMenu 导航菜单
------------------------------- */
.el-menu {
	background-color: #304156;
	--el-menu-text-color: #bfcbd9;
	--el-menu-active-color: #409EFF;
	--el-menu-hover-bg-color: #263445;
}
.el-sub-menu {
	--el-menu-text-color: #f4f4f5;
}

/* input
------------------------------- */
.el-input {
	--el-input-hover-border-color: #fb9337;
}
